@import 'style.css';



/*------------ */
/*$ MOBILE VIEW $*/
/*MOBILE FIRST DESIGN*/
/* ----------- */

body.destination-page {
	background-image: url(/assets/destination/background-destination-tablet.jpg);
}

.tabs-list {
	display: flex;
	gap: 2.6rem;
	height: 2.8rem;
	margin-bottom: 1.3rem;
}


.tabs-list > span {
	cursor: pointer;
	display: flex;
	position: relative;
		/*For underline indicators to work*/
}

.tabs-list > span:hover {
	color: hsl(var(--clr-white));
}


.image-holder {
	width: clamp(17rem, 30vw, 45rem);
}

.main-container {
	padding-bottom: 4.6rem;
}

.main-section {
	gap: 3.2rem;
	padding-inline: 0;
	max-width: none;
	width: 100%;
}

h1 {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
}

h1 > span {
	font-weight: 700;
	opacity: 0.25;
}


.secondary-section {
	display: flex;
	flex-direction: column;
	padding-inline: 2rem;
	align-items: center;
	text-align: center;
	width: clamp(34ch, 60vw, 58ch);
		/*This is put here instead of on the paragraaph element to ensure that the border-divider is the same character width as the paragraph in this section*/
}

.detail-holder {
	display: flex;
	flex-direction: column;
	gap: 2.2rem;
	margin-top: 3.2rem;
	border-top: 2px solid #383B4B;
	padding-top: 3.2rem;
}




/*------------ */
/*$ TABLET VIEW $*/
/* ----------- */

@media (min-width: 768px) {
	:root {
			--fs-200: 1.6rem;
			--fs-700: 8rem;
		}

		body.destination-page {
			background-image: url(/assets/destination/background-destination-desktop.jpg);
		}

		.tabs-list {
			height: 3.4rem;
			gap: 3.6rem;
		}

		.main-section {
			gap: 6rem;
		}

		.main-section > h1 {
			align-self: flex-start;
			margin-left: 3.8rem;
		}

		.detail-holder {
			flex-direction: row;
			justify-content: space-around;
			margin-top: 4.5rem;
			padding-top: 2.6rem;
		}
}





/*------------ */
/*$ DESKTOP VIEW $*/
/* ----------- */

@media (min-width: 1024px) {
	:root {
			--fs-700: 10rem;
		}

		.main-container {
			padding: 7.6rem 12rem 8rem;
		}

		.main-section > h1 {
			margin-left: -3rem;
		}

		.secondary-section {
			padding-inline: 0;
			text-align: initial;
			align-items: initial;
			width: 47ch;
		}

		.tab-article > p {
			min-width: 43ch;
		}

		.detail-holder {
			justify-content: flex-start;
			margin-top: 5.4rem;
			gap: 10rem;
		}
}